.idea/
*.iml
*.iws
*.ipr
.vscode/

target/
**/target/
out/
bin/
build/
**/build/

*.class
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz
*.log
hs_err_pid*

.mvn/
!/.mvn/wrapper/maven-wrapper.jar
.gradle/

.DS_Store
Thumbs.db
*~
*.swp
*.swo
.classpath
.project
.settings/

*.bak
*.tmp
*.temp
logs/
*.stacktrace

